/* .cardDiv {
    background-image: url('../../public/logoDivBg.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
} */

/* .active-card {
    background-color: transparent !important;
}

.blur {
    filter: blur(5px); 
    transition: filter 0.3s ease-in-out; 
}
*/