.menu {
  display: none;
  /* background-image: url('../../../public/menuBg.jpg'); */
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.open {
  display: block;
}

.nav__listItem {
  border-bottom: 1px solid #161616;
}

.nav__listItemLink {
  transition: background-color 0.35s ease-in-out;
}

.nav__listItemLink:hover {
  background-color: rgb(148,163,184);
}

.no-scroll {
  overflow: hidden !important;
}

.blob1{
  filter: blur(100px);
  opacity: 0.5;
}